<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="fixed acidity" placeholder="fixed acidity" required="required" />
        <input type="text" name="volatile acidity" placeholder="volatile acidity" required="required" />
		<input type="text" name="citric acid" placeholder="citric acid" required="required" />
        <input type="text" name="chlorides" placeholder="chlorides" required="required"/>
        <input type="text" name="total sulfur dioxide" placeholder="total sulfur dioxide" required="required"/>
        <input type="text" name="density" placeholder="density" required="required"/>
        <input type="text" name="sulphates" placeholder="sulphates" required="required"/>
        <input type="text" name="alcohol" placeholder="alcohol" required="required"/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    {{ prediction_text }}
</body>
</html>